@use crate::{db::{Contact, Instance}, templates::admin_html};
@use activitystreams::iri_string::types::IriString;

@(instance: &Instance, software: Option<&str>, contact: Option<&Contact>, base: &IriString)

    <div class="server-box">
      <div class="server-profile @if instance.reg { @if instance.requires_approval { req_approve }else{ open } }else{ closed }">
        <a href="@base" target="_blank"><h1 class="server-name">@instance.title</h1></a>
        @if let Some(software) = software {
          <p class="server-info">@software / @instance.version</p>
        }
        
        @if let Some(contact) = contact {
          @:admin_html(contact, base)
        }
      </div>
      <div class="server-description">
        <p>
          @Html(instance.description.trim())
        </p>
      </div>
    </div>
